{{#each products}}

<div>

  <ul>

    <li>{{this.id}}</li>

    <li>{{this.title}}</li>

    <li>{{this.price}}</li>

    <li>{{this.description}}</li>

    <li>{{this.thumbnail}}</li>

    <li>{{this.code}}</li>

    <li>{{this.stock}}</li>

  </ul>

</div>

{{/each}}